@keyframes vole {
    0% {
        transform: translateX(0px);
    }

    

    100% {
        transform: translateX(1570px) ;
    }
}
@-webkit-keyframes vole {

   0% {
        transform: translateX(0px);
    }

    

    100% {
        transform: translateX(1570px) ;
    }
}
div{
    -webkit-animation: vole 3s;
    animation: vole 3s;
}